bundle/src/main/resources/Scenario1Output.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="Traveler" mixed="true">
		<xs:sequence>
			<xs:element type="xs:string" name="Comment" minOccurs="0"/>
			<xs:element name="Traveler" maxOccurs="unbounded" minOccurs="0" type="Traveler" />
		</xs:sequence>
		<xs:attribute type="xs:integer" name="ID" use="optional"/>
		<xs:attribute type="xs:string" name="FirstName" use="optional"/>
		<xs:attribute type="xs:string" name="LastName" use="optional"/>
	</xs:complexType>
	
	<xs:element name="Trips">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Trip" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Traveler" maxOccurs="unbounded" minOccurs="0" type="Traveler"/>
						</xs:sequence>
						<xs:attribute type="xs:integer" name="ID" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>